html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
}

#widget-pane {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.static-element {
  position: absolute;
  background-color: white;
}

.static-element-0 {
  background-image: url('images/tv.gif');
  background-size: 100% 100%;
  transition: all 0.2s ease;
}

.static-element-1 {
  background-image: url('images/static-element.jpg');
  background-size: 100% 100%;
}

.static-element.fullscreen {
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000;
}

.selection-border {
  /*
   * the following comment out because of our target device may not have the
   * patch of bug 480888.
   *    outline: solid 0.2rem yellow
   * The workaround of it is box-shadow: 0 0 0 0.2rem yellow.
   */
  position: absolute;
  box-shadow: 0 0 0 0.2rem yellow, 0 0 1rem 0.2rem yellow;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 100;
}

#main-section.app-list-shown .selection-border,
#main-section.widget-editor-shown .selection-border {
  display: none;
}
