html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
}

#widget-pane {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.static-element {
  position: absolute;
  background-color: white;
  z-index: 150;
}

.static-element-0 {
  background-color: black;
  background-image: url('images/tv.gif');
  background-size: 100% 100%;
  transition: all 0.4s ease;
}

.static-element-0.has-video {
  background-image: none;
}

.static-element-1 {
  background-image: url('images/static-element.jpg');
  background-size: 100% 100%;
}

.static-element.fullscreen {
  z-index: 1000;
}

.selection-border {
  /*
   * the following comment out because of our target device may not have the
   * patch of bug 480888.
   *    outline: solid 0.2rem yellow
   * The workaround of it is box-shadow: 0 0 0 0.2rem yellow.
   */
  position: absolute;
  box-shadow: 0 0 0 0.2rem yellow, 0 0 1rem 0.2rem yellow;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 100;
}

.overlay-shown #main-section .selection-border {
  display: none;
}

#main-section menu[type="toolbar"] button {
  padding-left: 30px;
}

menu[type="toolbar"] button:before {
  position:absolute;
  width: 10px;
  height: 5px;
  border: black 2px solid;
  top: calc(50% - 3px);
  left: 10px;
  content: ' ';
}

#edit-widget:before {
  background-color: #E33;
}

#app-list-open-button:before {
  background-color: #33E;
}
